.gif-search-bar {
  display: flex;
  gap: 8px;
  padding: 8px;
  background: #333333;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 40px;
  align-items: center;
}

.gif-search-input {
  flex-grow: 1;
  border: none;
  background: none;
  outline: none;
  font-size: 0.9rem;
  color: #fff;
  padding: 0;
  height: 24px;
  line-height: 24px;
}

.gif-search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.favorite-toggle {
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: rgba(255, 255, 255, 0.7);
  background: #333333;
  border: none;
}

.favorite-toggle:hover {
  color: #ff4081;
}

.favorite-toggle.active {
  color: #ff4081;
}

.post-actions button.favorite-toggle{
  color: unset;
}

.post-actions button.favorite-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.post-actions button.favorite-toggle.active {
  background-color: rgba(255, 0, 0, 0.1);
}

.favorite-button{
  padding: 0;
}

.favorite-button:hover{
  background: none;
}