.post-create-card {
  background: var(--card-bg);
  border-radius: 10px;
  padding: 20px;
}

.post-create-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post-create-card textarea {
  background: var(--dark-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 15px;
  min-height: 100px;
  color: var(--text-light);
  resize: none;
  font-size: 1rem;
}

.post-create-card textarea:focus {
  outline: none;
  border-color: var(--primary);
}

.post-create-card .char-count {
  color: var(--text-dark);
  font-size: 0.9em;
  text-align: right;
  padding: 0 8px;
}

.post-create-card .post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border);
  padding-top: 12px;
}

.post-create-card .post-media-buttons {
  display: flex;
  gap: 8px;
}

.post-create-card .post-actions .emoji-picker-container,
.post-create-card .post-actions .gif-picker-container {
  position: relative;
}

.post-create-card .post-actions .emoji-picker-popup{
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  /* z-index: 1000; */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 20%);
  background: #222222;
}

.post-create-card .post-actions .emoji-picker-popup .EmojiPickerReact {
  border: 1px solid #151617 !important;
  --epr-bg-color: #222222 !important;
  --epr-category-label-bg-color: #222222 !important;
  --epr-hover-bg-color: rgba(255, 255, 255, 0.1) !important;
}

.post-create-card .post-actions .emoji-picker-popup.emoji-picker-popup::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 14px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #151617;
  z-index: 1;
}

.post-create-card .post-actions .emoji-picker-popup.emoji-picker-popup::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 14px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #222222;
  z-index: 2;
}

.post-create-card .media-preview-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin: 10px 0;
}

.emoji-picker-popup button{
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  animation: modalFadeIn 0.3s ease-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}