.navbar {
  padding: 5px 20px;
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  
}

.navbar a {
  color: #028090;  /* #646cff; */
  text-decoration: inherit;
  font-weight: bolder;
}

.navbar a:hover {
  color: var(--text-light);
}
