.navbar {
  position: relative;
  z-index: 2;
  padding: 5px 20px;
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  
}

.navbar a {
  color: #028090;  /* #646cff; */
  text-decoration: inherit;
  font-weight: bolder;
}

.navbar a:hover, .navbar .logout-button:hover{ 
  color: var(--text-light);
}

.nav-links{
  gap: 10px;
  display: flex;
  align-items: center;
}

.navbar .logout-button{
  color: white;
  background: #902302;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bolder;
}
