.post-button, .highlight-button, .delete-button, .root-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: var(--text-dark);
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(0.9);
}



.post-button:hover, .highlight-button:hover, .delete-button:hover, .root-logo:hover {
  
  color: var(--primary);
  transform: scale(1);
}

.root-logo{
  color: var(--primary);
  background-color: var(--highlight);
}
.delete-button:hover span{
  color: #952b01 !important;
}

.highlight-button:hover span{
  color: var(--primary) !important;
}

.post-button:hover{
  background: rgba(255, 255, 255, 0.1);
}

.post-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.post-button .material-symbols-rounded, .highlight-button .material-symbols-rounded {
  font-size: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}


